// start footer
footer {
    width: 100%;
    background-color: #333333;
    padding: 80px 7%;
    border-bottom: 2px solid white;
    padding-bottom: 30px !important;

    h2 {
        color: $textPrimaryColor;
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 70px;
        letter-spacing: 0.1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div:first-of-type {
            width: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;


            >ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;
                margin: 30px 3%;

                >li {
                    // padding: 10px 0;
                    color: $textPrimaryColor;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 0.9em;
                    font-weight: 200;
                    letter-spacing: 0.1em;


                    >a {
                        color: $textPrimaryColor;
                        font-size: 0.9em;
                        font-weight: 200;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        border-bottom: 1px solid transparent;
                        transition: all 0.1s ease-in;

                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }

            >ul>li:first-of-type {
                font-size: 1.1em;
                font-weight: 600;
                margin-bottom: 5px;
            }

            >ul:nth-of-type(3)>li:nth-of-type(2),
            >ul:nth-of-type(3)>li:nth-of-type(3),
            >ul:nth-of-type(3)>li:nth-of-type(4),
            >ul:nth-of-type(3)>li:nth-of-type(5) {
                border-bottom: 1px solid transparent;
                transition: all 0.1s ease-in;

                &:hover {
                    border-bottom: 1px solid white;
                }
            }

        }

        >div:nth-of-type(2) {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;

            h3 {
                color: $textPrimaryColor;
                font-size: 1.1em;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                letter-spacing: 0.1em;
                font-weight: 400;
            }

            p {
                font-size: 0.9em;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: $textPrimaryColor;
                line-height: 1.4em;
                text-align: justify;
            }

            >div {
                width: 100%;

                >div:first-of-type {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid white;


                    >input {
                        width: 90%;
                        background-color: transparent;
                        border: none;
                        color: $textPrimaryColor;
                        padding: 10px 0px;
                        outline: none;

                        &:focus {
                            border: 1px solid blue;
                        }

                        &::placeholder {
                            color: $textPrimaryColor;
                        }
                    }

                    >a {
                        width: 10%;

                        >i {
                            color: $textPrimaryColor;
                            font-size: 1.5em;
                            transition: all 0.1s ease-in;

                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }

                >div:nth-of-type(2) {
                    width: 100%;
                    padding-top: 5px;
                    padding-bottom: 10px;

                    >a {
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        color: $textPrimaryColor;
                        font-size: 0.8em;
                        letter-spacing: 0.2em;
                        border-bottom: 1px solid transparent;

                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }

                >div:nth-of-type(3) {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 5px;

                    >i {
                        color: $textPrimaryColor;
                        font-size: 1.3em;
                        transition: all 0.1s ease-in;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }

        }
    }
}

// end footer
// start copyright
#copyright {
    width: 100%;
    background-color: #333333;
    padding: 45px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    >div {
        color: $textPrimaryColor;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        >a {
            border-bottom: 1px solid transparent;
            color: $textPrimaryColor;
            font-size: 1em;
            letter-spacing: 0.1em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            transition: all 0.1s ease-in-out;

            &:hover {
                border-bottom: 1px solid white;
            }
        }

        >a:nth-of-type(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }

}

// end copyright
@media screen and (max-width:1027px) {
    #copyright {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

}

@media screen and (max-width:865px) {
    footer {
        >div {
            align-items: flex-start;

            >div:first-of-type {
                flex-wrap: wrap;

            }
        }
    }
}

@media screen and (max-width:770px) {
    footer {
        >div {
            flex-direction: column;

            >div:first-of-type {
                flex-wrap: nowrap;
                width: 100%;
                margin-bottom: 40px;


            }
            >div:nth-of-type(2){
                width: 100%;
                >div>div:nth-of-type(3){
                    width: 28%;
                }
            }
        }
    }

}