@mixin shopSections(){
    height: 120vh;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: $bodyMargin;
    border-bottom: 1px solid rgb(218 218 218);

    >h2{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: .1em;
        margin-bottom: 50px;
    }

    .shop-boxes{
        display: flex;
        flex-direction: row;
        gap: 20px;

        div{
            width: 450px;
            height: 80vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: $boxBgColor;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            &:hover + .add-to-cart{
               display: flex;
            }

            >img{
                height: 70%;
            }
            h3{
                background-color: rgb(237 235 233);
                color: $secondTextColor;
                font-weight: 400;
                font-size: .9rem;
                letter-spacing: .1em;
                padding: 0px 5px;
                margin-top: 40px;
            }
            h4{
                font-family: $fontFamily;
                font-weight: 400;
                font-size: 1.2rem;
                color: $textColor;
                margin-top: 10px;
            }
            p{
                font-family: $fontFamily;
                color: $secondTextColor;
                text-align: center;
                font-size: .9rem;
                position: absolute;
                bottom: 15%;
            }
            h5{
                font-weight: 500;
                letter-spacing: .1em;
                color: $textColor;
                text-align: center;
                position: absolute;
                bottom: 5%;
            }
        }
    }
    .shop-all-btn{  
        all:unset;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        letter-spacing: .1em;
        width: 300px;
        height: 50px;
        background-color: white;
        border:1px solid black;
        margin: 50px auto;
        cursor: pointer;
        transition: $transition;
    
        &:hover{
            opacity: .5;
        }
    }

    .add-to-cart{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        background-color:rgb(84 84 84);
        color: $textCreamColor;
        font-size: $fontSize;
        letter-spacing: .1em;
        transition: $transition;
        display: none;
    }
    .best-seller-label{
        width: 150px;
        height: 25px;
        text-align: center;
        color: $textCreamColor;
        background-color:rgb(84 84 84);
        white-space: nowrap;
        font-size: $fontSize;
        letter-spacing: .1em;
        transform: rotate(45deg);
        position: absolute;
        right: -10%;
        top: 5%;
        padding-top: 3px;
    }
    .new-label{
        width: 150px;
        height: 25px;
        text-align: center;
        color: $textCreamColor;
        background-color:rgb(84 84 84);
        white-space: nowrap;
        font-size: $fontSize;
        letter-spacing: .1em;
        transform: rotate(45deg);
        position: absolute;
        right: -10%;
        top: 5%;
        padding-top: 3px;
    }

    .low-stock-label{
        width: 150px;
        height: 25px;
        text-align: center;
        color:rgb(51 51 51);
        background-color:rgb(148 183 187);
        white-space: nowrap;
        font-size: $fontSize;
        letter-spacing: .1em;
        transform: rotate(45deg);
        position: absolute;
        right: -10%;
        top: 5%;
        padding-top: 3px;

    }
    .limited-label, .soldout-label{
        width: 160px;
        height: 25px;
        text-align: center;
        color: $textCreamColor;
        background-color:rgb(84 84 84);
        white-space: nowrap;
        font-size: $fontSize;
        letter-spacing: .1em;
        transform: rotate(45deg);
        position: absolute;
        right: -10%;
        top: 6%;
        padding-top: 3px;

    }
    .hand-made-label{
        width: 160px;
        height: 25px;
        text-align: center;
        color: $textCreamColor;
        background-color:rgb(75 94 35);
        white-space: nowrap;
        font-size: $fontSize;
        letter-spacing: .1em;
        transform: rotate(45deg);
        position: absolute;
        right: -10%;
        top: 6%;
        padding-top: 3px;
    }
}


// media query mixins

