* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#modal-sec {
  width: 700px;
  height: 300px;
  display: none;
  top: 0;
  right: 0;
}
#modal-sec > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}
#modal-sec > div > img {
  height: 100%;
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
nav #offer {
  height: 30px;
  background-color: white;
  color: #333333;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav #offer p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}
nav #offer a {
  color: #333333;
  text-decoration: underline;
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}
nav #header-img > img {
  width: 100%;
  position: relative;
}
nav #header-img #header-text {
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}
nav #header-img #header-text h1 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 2.5rem;
  font-weight: 500;
}
nav #header-img #header-text p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 1.1rem;
}
nav #header-img #nav-bar {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0px 60px;
}
nav #header-img #nav-bar > #bottle-logo {
  height: 65px;
  cursor: pointer;
  transition: all 0.2s;
}
nav #header-img #nav-bar > #bottle-logo:hover {
  opacity: 0.7;
}
nav #header-img #nav-bar #ham-menu-icon {
  color: white;
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}
nav #header-img #nav-bar #ham-menu-icon:hover {
  opacity: 0.6;
}
nav #header-img #nav-bar .nav-items > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav #header-img #nav-bar .nav-items > ul .nav-item {
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
}
nav #header-img #nav-bar .nav-items > ul .nav-item:hover {
  border-bottom: 1px solid white;
}
nav #header-img #nav-bar .nav-items > ul .nav-icon:hover {
  opacity: 0.6;
}
nav #header-img #nav-bar .nav-items > ul #user-icon {
  font-size: 1.2rem;
  color: white;
}

#coffee-scrollBar {
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 15px 50px;
  overflow-x: auto;
}
#coffee-scrollBar > p {
  font-size: 0.9rem;
  font-weight: 400;
  height: 25px;
  color: rgb(84, 84, 84);
  letter-spacing: 0.1em;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
}
#coffee-scrollBar > p:hover {
  border-bottom: 1px solid rgb(84, 84, 84);
}
#coffee-scrollBar .all-coffee {
  border-bottom: 1px solid rgb(84, 84, 84);
}
#coffee-scrollBar::-webkit-scrollbar {
  height: 15px;
}
#coffee-scrollBar::-webkit-scrollbar-track {
  background: transparent;
}
#coffee-scrollBar::-webkit-scrollbar-thumb {
  background: #d4d4d4;
}
#coffee-scrollBar::-webkit-scrollbar-thumb:hover {
  background: rgb(84, 84, 84);
}

footer {
  width: 100%;
  background-color: #333333;
  padding: 80px 7%;
  border-bottom: 2px solid white;
  padding-bottom: 30px !important;
}
footer h2 {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 70px;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div > div:first-of-type {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer > div > div:first-of-type > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 30px 3%;
}
footer > div > div:first-of-type > ul > li {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.1em;
}
footer > div > div:first-of-type > ul > li > a {
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  font-weight: 200;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease-in;
}
footer > div > div:first-of-type > ul > li > a:hover {
  border-bottom: 1px solid white;
}
footer > div > div:first-of-type > ul > li:first-of-type {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 5px;
}
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(2),
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(3),
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(4),
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(5) {
  border-bottom: 1px solid transparent;
  transition: all 0.1s ease-in;
}
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(2):hover,
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(3):hover,
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(4):hover,
footer > div > div:first-of-type > ul:nth-of-type(3) > li:nth-of-type(5):hover {
  border-bottom: 1px solid white;
}
footer > div > div:nth-of-type(2) {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
footer > div > div:nth-of-type(2) h3 {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
}
footer > div > div:nth-of-type(2) p {
  font-size: 0.9em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.4em;
  text-align: justify;
}
footer > div > div:nth-of-type(2) > div {
  width: 100%;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > input {
  width: 90%;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 0px;
  outline: none;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > input:focus {
  border: 1px solid blue;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > input::placeholder {
  color: rgb(255, 255, 255);
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > a {
  width: 10%;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > a > i {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  transition: all 0.1s ease-in;
}
footer > div > div:nth-of-type(2) > div > div:first-of-type > a > i:hover {
  opacity: 0.5;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(2) {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(2) > a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  letter-spacing: 0.2em;
  border-bottom: 1px solid transparent;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(2) > a:hover {
  border-bottom: 1px solid white;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(3) {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(3) > i {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  transition: all 0.1s ease-in;
}
footer > div > div:nth-of-type(2) > div > div:nth-of-type(3) > i:hover {
  opacity: 0.5;
}

#copyright {
  width: 100%;
  background-color: #333333;
  padding: 45px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#copyright > div {
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#copyright > div > a {
  border-bottom: 1px solid transparent;
  color: rgb(255, 255, 255);
  font-size: 1em;
  letter-spacing: 0.1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  transition: all 0.1s ease-in-out;
}
#copyright > div > a:hover {
  border-bottom: 1px solid white;
}
#copyright > div > a:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 770px) {
  main > #shop-sec #shop-slider > .slide > a {
    height: 300px;
  }
  main > #shop-sec #shop-slider > .slide > a > h4 {
    margin-bottom: 2em;
  }
  main > #shop-sec #shop-slider > .slide > a > img {
    margin-top: 2em;
  }
  main #Blue-Bottle-Coffee-sec > img {
    width: 100%;
  }
  main #Blue-Bottle-Coffee-sec > div {
    width: 100%;
  }
  main #instant-coffee-sec #img-min-size {
    display: inline-block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #instant-coffee-sec > div {
    width: 100%;
    align-items: center;
  }
  main #instant-coffee-sec > div h2 {
    text-align: center;
  }
}
@media screen and (max-width: 740px) {
  main #vertical-bar {
    display: none;
  }
  main #mug-sec > div > a {
    padding: 15px 30%;
  }
}
@media screen and (max-width: 650px) {
  main #shop-sec > #shop-slider > div.slide {
    flex: 0 0 50%;
  }
  main #mug-sec > div {
    width: 49%;
  }
  main #mug-sec > div > h2 {
    font-size: 1.5em;
    font-weight: 600;
  }
  main #mug-sec > div > p {
    font-size: 1.2em;
  }
  main #tribune-tower .swiper-icon {
    font-size: 0.5em !important;
  }
  main #tribune-tower #tower-slider .swiper-slide > div {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  main #tribune-tower #tower-slider .swiper-slide > div > p {
    font-size: 1em;
  }
  main #location > h2 {
    margin-bottom: 35px;
    text-align: center;
  }
  main #location > a {
    padding: 20px 5%;
    font-size: 1em;
    width: 90%;
    text-align: center;
  }
  main #brew-guides {
    align-items: center;
  }
  main #brew-guides h2 {
    text-align: center;
  }
}
@media screen and (max-width: 490px) {
  main #shop-sec > #shop-slider > div.slide {
    flex: 0 0 100%;
  }
  main #shop-sec > #shop-slider > div.slide > a {
    height: 400px;
  }
  main #shop-sec > #shop-slider > div.slide > a > img {
    margin-top: 1em;
  }
  main #shop-sec > #shop-slider > div.slide > a > h2 {
    font-size: 1.03em;
  }
}
@media screen and (max-width: 460px) {
  main #brew-guides-min-size {
    align-items: center;
  }
  main #brew-guides-min-size h2 {
    text-align: center;
  }
  main #brew-guides-min-size > .swiper > .swiper-wrapper > .swiper-slide {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  main #Blue-Bottle-Coffee-sec > div > a {
    padding: 15px 24%;
  }
  main #instant-coffee-sec > div > a {
    padding: 15px 24%;
  }
}
@media screen and (max-width: 330px) {
  main #mug-sec > div {
    width: 90%;
  }
  main #mug-sec > div > a {
    padding: 15px 25%;
  }
}
body {
  background-color: #FDFBF7;
}

#blend-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#blend-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#blend-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#blend-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#blend-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#blend-section .shop-boxes div > img {
  height: 70%;
}
#blend-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#blend-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#blend-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#blend-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#blend-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#blend-section .shop-all-btn:hover {
  opacity: 0.5;
}
#blend-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#blend-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#blend-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#blend-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#blend-section .limited-label, #blend-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#blend-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}

#espresso-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#espresso-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#espresso-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#espresso-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#espresso-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#espresso-section .shop-boxes div > img {
  height: 70%;
}
#espresso-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#espresso-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#espresso-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#espresso-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#espresso-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#espresso-section .shop-all-btn:hover {
  opacity: 0.5;
}
#espresso-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#espresso-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#espresso-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#espresso-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#espresso-section .limited-label, #espresso-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#espresso-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#espresso-section .shop-boxes div h4 {
  text-align: center;
}

#instant-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#instant-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#instant-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#instant-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#instant-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#instant-section .shop-boxes div > img {
  height: 70%;
}
#instant-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#instant-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#instant-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#instant-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#instant-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#instant-section .shop-all-btn:hover {
  opacity: 0.5;
}
#instant-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#instant-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#instant-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#instant-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#instant-section .limited-label, #instant-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#instant-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#instant-section .shop-boxes div h3 {
  text-align: center;
}
#instant-section .shop-boxes div h4 {
  text-align: center;
}

#single-org-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#single-org-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#single-org-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#single-org-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#single-org-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#single-org-section .shop-boxes div > img {
  height: 70%;
}
#single-org-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#single-org-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#single-org-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#single-org-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#single-org-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#single-org-section .shop-all-btn:hover {
  opacity: 0.5;
}
#single-org-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#single-org-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#single-org-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#single-org-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#single-org-section .limited-label, #single-org-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#single-org-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#single-org-section .shop-boxes div h4 {
  text-align: center;
}

#coffee-sets-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#coffee-sets-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#coffee-sets-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#coffee-sets-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#coffee-sets-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#coffee-sets-section .shop-boxes div > img {
  height: 70%;
}
#coffee-sets-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#coffee-sets-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#coffee-sets-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#coffee-sets-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#coffee-sets-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#coffee-sets-section .shop-all-btn:hover {
  opacity: 0.5;
}
#coffee-sets-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#coffee-sets-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coffee-sets-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coffee-sets-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coffee-sets-section .limited-label, #coffee-sets-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#coffee-sets-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}

#decaf-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
  height: 100vh;
}
#decaf-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#decaf-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#decaf-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#decaf-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#decaf-section .shop-boxes div > img {
  height: 70%;
}
#decaf-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#decaf-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#decaf-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#decaf-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#decaf-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#decaf-section .shop-all-btn:hover {
  opacity: 0.5;
}
#decaf-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#decaf-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#decaf-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#decaf-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#decaf-section .limited-label, #decaf-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#decaf-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#decaf-section .shop-boxes div {
  width: 400px;
}
#decaf-section .shop-boxes div h4 {
  text-align: center;
}

#coldbrew-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#coldbrew-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#coldbrew-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#coldbrew-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#coldbrew-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#coldbrew-section .shop-boxes div > img {
  height: 70%;
}
#coldbrew-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#coldbrew-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#coldbrew-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#coldbrew-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#coldbrew-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#coldbrew-section .shop-all-btn:hover {
  opacity: 0.5;
}
#coldbrew-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#coldbrew-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coldbrew-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coldbrew-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#coldbrew-section .limited-label, #coldbrew-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#coldbrew-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#coldbrew-section #coldbrew-h5 {
  bottom: 3%;
  line-height: 1rem;
}

#horizon-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
#horizon-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#horizon-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#horizon-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#horizon-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#horizon-section .shop-boxes div > img {
  height: 70%;
}
#horizon-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#horizon-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#horizon-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#horizon-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#horizon-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#horizon-section .shop-all-btn:hover {
  opacity: 0.5;
}
#horizon-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#horizon-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#horizon-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#horizon-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#horizon-section .limited-label, #horizon-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#horizon-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#horizon-section h4 {
  text-align: center;
}

#spring-section {
  height: 120vh;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-bottom: none;
}
#spring-section > h2 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#spring-section .shop-boxes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#spring-section .shop-boxes div {
  width: 450px;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(249, 246, 240);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#spring-section .shop-boxes div:hover + .add-to-cart {
  display: flex;
}
#spring-section .shop-boxes div > img {
  height: 70%;
}
#spring-section .shop-boxes div h3 {
  background-color: rgb(237, 235, 233);
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding: 0px 5px;
  margin-top: 40px;
}
#spring-section .shop-boxes div h4 {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333333;
  margin-top: 10px;
}
#spring-section .shop-boxes div p {
  font-family: Chronicle Text G1 Roman, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  color: rgb(84, 84, 84);
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 15%;
}
#spring-section .shop-boxes div h5 {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
#spring-section .shop-all-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
  transition: all 0.2s;
}
#spring-section .shop-all-btn:hover {
  opacity: 0.5;
}
#spring-section .add-to-cart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transition: all 0.2s;
  display: none;
}
#spring-section .best-seller-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#spring-section .new-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#spring-section .low-stock-label {
  width: 150px;
  height: 25px;
  text-align: center;
  color: rgb(51, 51, 51);
  background-color: rgb(148, 183, 187);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 5%;
  padding-top: 3px;
}
#spring-section .limited-label, #spring-section .soldout-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#spring-section .hand-made-label {
  width: 160px;
  height: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 94, 35);
  white-space: nowrap;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  transform: rotate(45deg);
  position: absolute;
  right: -10%;
  top: 6%;
  padding-top: 3px;
}
#spring-section h4 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  nav #nav-bar {
    justify-content: space-between;
  }
  nav #nav-bar #bottle-logo {
    margin-right: 150px;
  }
  nav #nav-bar #ham-menu-icon {
    display: inline !important;
  }
  nav #nav-bar .nav-item {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  nav #header-img > #header-text {
    top: 25% !important;
    left: 5% !important;
  }
  #blend-section, #espresso-section, #instant-section, #single-org-section,
  #coffee-sets-section,
  #decaf-section,
  #coldbrew-section,
  #horizon-section,
  #spring-section {
    height: 100vh;
  }
  #blend-section > h2, #espresso-section > h2, #instant-section > h2, #single-org-section > h2,
  #coffee-sets-section > h2,
  #decaf-section > h2,
  #coldbrew-section > h2,
  #horizon-section > h2,
  #spring-section > h2 {
    margin-bottom: 20px;
  }
  #blend-section .shop-boxes div, #espresso-section .shop-boxes div, #instant-section .shop-boxes div, #single-org-section .shop-boxes div,
  #coffee-sets-section .shop-boxes div,
  #decaf-section .shop-boxes div,
  #coldbrew-section .shop-boxes div,
  #horizon-section .shop-boxes div,
  #spring-section .shop-boxes div {
    height: 70vh;
  }
  #blend-section .shop-boxes div > img, #espresso-section .shop-boxes div > img, #instant-section .shop-boxes div > img, #single-org-section .shop-boxes div > img,
  #coffee-sets-section .shop-boxes div > img,
  #decaf-section .shop-boxes div > img,
  #coldbrew-section .shop-boxes div > img,
  #horizon-section .shop-boxes div > img,
  #spring-section .shop-boxes div > img {
    height: 60%;
  }
  .shop-all-btn {
    width: 200px;
    height: 40px;
  }
  .best-seller-label, .new-label, .low-stock-label, .soldout-label {
    right: -15% !important;
    top: 5% !important;
  }
  .hand-made-label, .limited-label {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #blend-section, #espresso-section, #instant-section, #single-org-section,
  #coffee-sets-section,
  #decaf-section,
  #coldbrew-section,
  #horizon-section,
  #spring-section {
    height: 90vh;
    margin-top: 20px;
  }
  #blend-section > h2, #espresso-section > h2, #instant-section > h2, #single-org-section > h2,
  #coffee-sets-section > h2,
  #decaf-section > h2,
  #coldbrew-section > h2,
  #horizon-section > h2,
  #spring-section > h2 {
    font-size: 1rem;
  }
  #blend-section .shop-boxes div h3, #espresso-section .shop-boxes div h3, #instant-section .shop-boxes div h3, #single-org-section .shop-boxes div h3,
  #coffee-sets-section .shop-boxes div h3,
  #decaf-section .shop-boxes div h3,
  #coldbrew-section .shop-boxes div h3,
  #horizon-section .shop-boxes div h3,
  #spring-section .shop-boxes div h3 {
    margin-top: 40px;
    font-size: 0.8rem;
  }
  #blend-section .shop-boxes div h4, #espresso-section .shop-boxes div h4, #instant-section .shop-boxes div h4, #single-org-section .shop-boxes div h4,
  #coffee-sets-section .shop-boxes div h4,
  #decaf-section .shop-boxes div h4,
  #coldbrew-section .shop-boxes div h4,
  #horizon-section .shop-boxes div h4,
  #spring-section .shop-boxes div h4 {
    font-size: 1rem;
  }
  #blend-section .shop-boxes div p, #espresso-section .shop-boxes div p, #instant-section .shop-boxes div p, #single-org-section .shop-boxes div p,
  #coffee-sets-section .shop-boxes div p,
  #decaf-section .shop-boxes div p,
  #coldbrew-section .shop-boxes div p,
  #horizon-section .shop-boxes div p,
  #spring-section .shop-boxes div p {
    font-size: 0.75rem;
  }
  #blend-section .shop-boxes div h5, #espresso-section .shop-boxes div h5, #instant-section .shop-boxes div h5, #single-org-section .shop-boxes div h5,
  #coffee-sets-section .shop-boxes div h5,
  #decaf-section .shop-boxes div h5,
  #coldbrew-section .shop-boxes div h5,
  #horizon-section .shop-boxes div h5,
  #spring-section .shop-boxes div h5 {
    font-size: 0.7rem;
  }
  #blend-section .shop-all-btn, #espresso-section .shop-all-btn, #instant-section .shop-all-btn, #single-org-section .shop-all-btn,
  #coffee-sets-section .shop-all-btn,
  #decaf-section .shop-all-btn,
  #coldbrew-section .shop-all-btn,
  #horizon-section .shop-all-btn,
  #spring-section .shop-all-btn {
    width: 150px;
    font-size: 0.7rem;
    letter-spacing: 0;
    margin: 30px auto;
    padding: 5px;
  }
  .best-seller-label, .new-label, .low-stock-label, .soldout-label {
    width: 120px !important;
    height: 20px !important;
    font-size: 0.6rem !important;
    right: -15% !important;
    top: 4% !important;
  }
}
@media screen and (max-width: 700px) {
  nav #header-img > #header-text {
    top: 20% !important;
  }
  nav #header-img > #header-text h1 {
    font-size: 1.8rem !important;
  }
  nav #nav-bar #bottle-logo {
    margin-right: 100px !important;
    height: 50px !important;
  }
  #coffee-scrollBar {
    height: 70px;
  }
  #coffee-scrollBar > p {
    font-size: 0.8rem;
  }
  #blend-section, #espresso-section, #instant-section, #single-org-section,
  #coffee-sets-section,
  #decaf-section,
  #coldbrew-section,
  #horizon-section,
  #spring-section {
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
  }
  #blend-section .shop-boxes, #espresso-section .shop-boxes, #instant-section .shop-boxes, #single-org-section .shop-boxes,
  #coffee-sets-section .shop-boxes,
  #decaf-section .shop-boxes,
  #coldbrew-section .shop-boxes,
  #horizon-section .shop-boxes,
  #spring-section .shop-boxes {
    flex-direction: column;
    align-items: center;
  }
  #blend-section .shop-boxes div, #espresso-section .shop-boxes div, #instant-section .shop-boxes div, #single-org-section .shop-boxes div,
  #coffee-sets-section .shop-boxes div,
  #decaf-section .shop-boxes div,
  #coldbrew-section .shop-boxes div,
  #horizon-section .shop-boxes div,
  #spring-section .shop-boxes div {
    width: 350px;
    height: 60vh;
  }
  #decaf-section {
    padding-bottom: 30px !important;
  }
  .shop-all-btn {
    height: 30px !important;
  }
  .best-seller-label, .new-label, .low-stock-label, .soldout-label {
    width: 150px !important;
    height: 25px !important;
    right: -12% !important;
    top: 7% !important;
  }
}
@media screen and (max-width: 600px) {
  nav #header-img > #header-text h1 {
    font-size: 1.5rem !important;
  }
  nav #header-img > #header-text p {
    font-size: 0.9rem;
  }
  nav #nav-bar > #bottle-logo {
    margin-right: 50px !important;
  }
}
@media screen and (max-width: 400px) {
  #blend-section .shop-boxes div, #espresso-section .shop-boxes div, #instant-section .shop-boxes div, #single-org-section .shop-boxes div,
  #coffee-sets-section .shop-boxes div,
  #decaf-section .shop-boxes div,
  #coldbrew-section .shop-boxes div,
  #horizon-section .shop-boxes div,
  #spring-section .shop-boxes div {
    width: 300px;
    height: 50vh;
  }
  .best-seller-label, .new-label, .low-stock-label, .soldout-label {
    display: none;
  }
}/*# sourceMappingURL=shopStyle.css.map */