$mainBgColor:rgb(253, 251, 247);
$textColor:rgba($color: #333333, $alpha: 1.0);
$secondTextColor: rgb(84 84 84);
$textCreamColor: rgb(255 255 255);
$fontSize:0.75rem;
$fontFamily:Chronicle Text G1 Roman,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
$transition:all .2s;
$bodyMargin:50px;
$boxBgColor:rgba(249 246 240);

